body { 
    background-color: #EDEBEB;
}

.bg { 
    background: url(../img/bg.jpg) no-repeat center fixed; 
    background-size: cover;
}

.main_main {
    margin:225px;
    color:white;
    font-weight: bold;
    text-align:center;
}

.main_h1 {
    font-size:500%;
    font-weight:bolder;
    color:white;
}

.customFooter {
    position: relative;
    text-align:center;
    padding: 1px;
    padding-bottom: 15px;
    color:white;
    background-color:#990000;
}

.navCustom{
    background-color: #990000;
    padding-left: 15px;
}

.btn1 {
    background-color: #990000;
    color: white;
}
  
.btn1:active, .btn1:hover, .btn1:focus {
    background-color: #990000;
    color: goldenrod;
}  

#refTable{
    background-color: #990000;
    color: white;
}

.row {
    padding-top: 20px;
}

#profileImg{
    padding-top: 80px;
}

#refereePage{
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn-sm {
    margin-right: 10px;
    color: #990000;
    border-color: #990000;
}