<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css" type="text/css"/>

    <title>ISRA</title>
  </head>
  <body>
    <div class='container-fluid'>
      <nav class="navbar sticky-top justify-content-center navbar-expand-lg navbar-dark navCustom">
        <a class="navbar-brand" href="index.html">
          <img src="img/logo.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
          <!-- Image source: https://favicon.io/emoji-favicons/soccer-ball/ -->
          Indiana Soccer Referees Association
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myMenu">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myMenu">
          <div class="navbar-nav me-auto">
            <a class="nav-link " href="index.html">Home</a>
            <a class="nav-link active" href="ref_assignor.html">Referees<span class="sr-only"></span></a>
            <a class="nav-link" href="games_assignor.html">Schedule<span class="sr-only"></span></a>
            <a class="nav-link" href="reports.html">Reports<span class="sr-only"></span></a>
          </div>
        </div>
      </nav>

      <div class="container" id ="refsApp">
          <div class="row">
              <div class="col-10">
                <h4>List of Referees</h4>
              </div>  
              <div class="col-2">
                <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click= "openAddRef()">Add Referee
                </button>
              </div> 
          </div>
          <form v-if="selectedRefAdd" v-on:submit.prevent="postNewRef">
            <div class="row">
              <h5 id="editHead">Add New Referee</h5>
              <div class="col">
                <label>First Name</label>
                <input type="text" v-model="refForm.first_name" class="form-control" placeholder="First Name" id="first_name" required="required">
              </div>
              <div class="col" id="form">
                <label>Last Name</label>
                <input type="text" v-model="refForm.last_name" class="form-control" placeholder="Last Name" id="last_name" required="required">
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <label>Age</label>
                  <input type="number" v-model="refForm.age" class="form-control" placeholder="Age" id="age" required="required">
                </div>
                <div class="col" id="form">
                  <label>Referee Grade</label>
                  <input type="number" v-model="refForm.referee_grade" class="form-control" placeholder="Referee Grade" id="referee_grade" required="required">
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <label>Referee Skill</label>
                  <input type="number" v-model="refForm.referee_skill" class="form-control" placeholder="Referee Skill" id="referee_skill" required="required">
                </div>
                <div class="col" id="form">
                  <label>Referee Role</label>
                    <select class="form-select" v-model="refForm.ref_role" aria-label="Title" id="ref_role" required="required">
                        <option value="Official">Official</option>
                        <option value="Assitant">Assistant</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-outline-secondary btn-sm" type="submit">Add</button>
            <button class="btn btn-outline-secondary btn-sm" type="button" v-on:click="resetRefForm">Cancel</button>
          </form>
          <table class="table table-hover table-responsive-sm">
            <thead>
              <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Age</th>
                <th scope="col">Referee Grade</th>
                <th scope ="col">Referee Skill</th>
                <th scope ="col">Referee Title</th>
                <th scope ="col">View games</th>
                <th scope="col">Change details</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="r in refs">
                <td>{{r.first_name}}</td>
                <td>{{r.last_name}}</td>
                <td>{{r.age}}</td>
                <td>{{r.referee_grade}}</td>
                <td>{{r.referee_skill}}</td>
                <td>{{r.ref_role}}</td>
                <td>
                    <button class="btn btn-outline-secondary btn-sm" v-on:click="fetchFutGameDetails(r); fetchPastGameDetails(r)" :class="['ref', {selected: selectedRefView}]">View</button>
                </td>
                <td> 
                    <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="selectRefToEdit(r)" :class="['form', {selected: selectedRef}]">Edit</button>
                    <button type="button" class="btn btn-outline-secondary btn-sm" v-on:click="postDeleteRef(r)">Delete</button>
                </td>
              </tr> 
            </tbody> 
          </table>

          <div v-if="selectedRefView">
            <h4>Future Games</h4>
            <table class="table table-hover table-responsive-sm">
                <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Field</th>
                      <th scope="col">Game Level</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="f in fgames">
                        <td>{{f.date}}</td>
                        <td>{{f.time}}</td>
                        <td>{{f.field}}</td>
                        <td>{{f.level}}</td>
                    </tr>
                </tbody>
            </table>
            <h4>Past Games</h4>
            <table class="table table-hover table-responsive-sm">
                <thead>
                    <tr>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">Field</th>
                      <th scope="col">Game Level</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="p in pgames">
                        <td>{{p.date}}</td>
                        <td>{{p.time}}</td>
                        <td>{{p.field}}</td>
                        <td>{{p.level}}</td>
                    </tr>
                </tbody>
            </table>   
          </div>
          <form v-if="selectedRef" v-on:submit.prevent="postEditRef">
            <div class="row">
              <h5 id="editHead">Edit referee details</h5>
              <div class="col">
                <label>First Name</label>
                <input type="text" v-model="refForm.first_name" class="form-control" placeholder="First Name" id="first_name" required="required">
              </div>
              <div class="col" id="form">
                <label>Last Name</label>
                <input type="text" v-model="refForm.last_name" class="form-control" placeholder="Last Name" id="last_name" required="required">
              </div>
            </div>
            <div class="row">
                <div class="col">
                  <label>Age</label>
                  <input type="number" v-model="refForm.age" class="form-control" placeholder="Age" id="age" required="required">
                </div>
                <div class="col" id="form">
                  <label>Referee Grade</label>
                  <input type="number" v-model="refForm.referee_grade" class="form-control" placeholder="Referee Grade" id="referee_grade" required="required">
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <label>Referee Skill</label>
                  <input type="number" v-model="refForm.referee_skill" class="form-control" placeholder="Referee Skill" id="referee_skill" required="required">
                </div>
                <div class="col" id="form">
                  <label>Referee Role</label>
                    <select class="form-select" v-model="refForm.ref_role" aria-label="Title" id="ref_role" required="required">
                        <option value="Official">Official</option>
                        <option value="Assitant">Assistant</option>
                    </select>
                </div>
            </div>
            <button class="btn btn-outline-secondary btn-sm" type="submit">Edit</button>
            <button class="btn btn-outline-secondary btn-sm" type="button" v-if="selectedRef" v-on:click="resetRefForm">Cancel</button>
          </form>
        </div>

        <footer class="customFooter">
            <div class='container'>
              © 2021 | Indiana Soccer Referees Association | All Rights Reserved
            </div>
        </footer>
    </div>
        
      <!-- Bootstrap JS -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
      <script src="js/index.js"></script>
    </body>
  </html>