<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
      </nav>

   <!--  <div id="reportApp" class="container">
        <div class="row align-items-start">
          <div class="col col-12">
            
            <p><a href="/api/report/?format=csv" download>Export as CSV</a></p>
            <table class="table">
                <thead>
                  <tr>
                    <th>Student Name</th>
                    <th>Login</th>
                    <th>Max Salary Offer</th>
                    <th>Offer Count</th>
                  </tr>
                </thead>
                  <tbody>
                      <tr v-for="o in offers">
                          <td>{{ o.name }}</td>
                          <td>{{ o.username }}</td>
                          <td>{{ o.maxSalary }}</td>
                          <td>{{ o.offerCount }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
    </div> -->
    
        <form v-on:submit.prevent="postRef">
              <div class="mb-3">
                <label for="ref_name" class="form-label">Referee Name</label>
                <select name="ref_name" id="ref_name">
                <option value="">
                </select>

              <div class="mb-3">
                <label for="fname" class="form-label">Date From</label>
                <input type="text" v-model="refForm.first_name" class="form-control" id="first_name">
              </div>

              <div class="mb-3">
                <label for="lname" class="form-label">Date End</label>
                <input type="number" v-model="refForm.last_name" class="form-control" id="last_name">
              </div>
            </form>

       



            <div id="assignApp" class="container">
              <label for="first_name">First Name: </label>
                  <div class="row align-items-start">
                      <div class="col col-4">
                        <div v-for="r in ref_assignment" v-on:click="selectAssign(r)"
                         :class="['games', {selected: selectedAssign && r.ref_id == selectedAssign.ref_id}]">
                          {{r.ref_id}}
                    </div>
                  </div>
              
              </div>
                              




      <div class="col col-12" v-if="selectedAssign">

          <table data-sortable class="table table-hover table-responsive-sm">
            <thead id='refTable'>
              <tr>
                <th scope="col">Field</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Referee Status</th>
                <th scope="col">Name</th>
                <th scope="col">Details</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{selectedAssign.field}}</td>
                <td>{{selectedAssign.date}}</td>
                <td>{{selectedAssign.time}}</td>
                <td>{{selectedAssign.assign_status}}</td>
                <td>{{selectedAssign.first_name}}</td>
                <td>{{selectedAssign.last_name}}</td>

              </tr> 
            </tbody> 
        </table>

            
         <!--    <table class="table">
                <thead>
                  <tr>
                    <th>Field</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Referee Status</th>
                    <th>Name</th>
                  </tr>
                </thead>
                  <tbody>
                      <tr v-for="ref in ref_assignment">
                          <td>{{ ref.field }}</td>
                          <td>{{ ref.date }}</td>
                          <td>{{ ref.time }}</td>
                          <td>{{ ref.assign_status}}</td>
                          <td>{{ref.first_name}} {{ref.last_name}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
        </div>
    </div>

 -->

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <script src="js/fgames.js"></script>
  </body>
</html>
  