<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!--     <link href="css/styles.css" rel="stylesheet" type="text/css">
 -->    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
          </ul>
        </div>
      </nav>

          
    <div class="container-fluid" id="refsApp">

        <form v-on:submit.prevent="postNewRef">

              <div class="mb-3">
                <label for="first_name" class="form-label">First Name</label>
                <input type="text" v-model="refForm.first_name"
                 class="form-control" id="title">
              </div>
              <div class="mb-3">
                <label for="last_name" class="form-label">Last Name</label>
                <input type="text" v-model="refForm.last_name" class="form-control" id="last_name">
              </div>
              <div class="mb-3">
                <label for="age" class="form-label">Age</label>
                <input type="number" v-model="refForm.age" class="form-control" id="age">
              </div>
               <div class="mb-3">
                <label for="referee_grade" class="form-label">Referee Grade</label>
                <input type="text" v-model="refForm.referee_grade" class="form-control" id="referee_grade">
              </div>
               <div class="mb-3">
                <label for="referee_skill" class="form-label">Referee Skill</label>
                <input type="number" v-model="refForm.referee_skill" class="form-control" id="referee_skill">
              </div>
              <div class="mb-3">
                <label for="msrp" class="form-label">Details</label>
                <input type="text" v-model="refForm.details" class="form-control" id="details">
              </div>
               <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                <input type="text" v-model="refForm.role" class="form-control" id="role">
              </div>
               <button type="submit" class="btn btn-primary">Add Ref</button>
              <button type="button" class="btn btn-outline-secondary" v-if="selectedRef" v-on:click="resetRefForm">Cancel</button>
            </form>
        


           <table class="table">
             <thead>
                <tr>
                  <th scope="col">id</th>
                  <th scope="col">Title</th>
                  <th scope="col">Author</th>
                  <th scope="col">Year Published</th>
                  <th scope="col">Publisher</th>
                  <th scope="col">Page Count</th>
                  <th scope="col">MSRP</th>
                </tr>
             </thead>
                <tbody>
                    <tr v-for="ref in Refs">
                        <td>{{ ref.first_name }}</td>
                        <td>{{ ref.last_name }}</td>
                        <td>{{ ref.age }}</td>
                        <td>{{ ref.referee_grade }}</td>
                        <td>{{ ref.referee_skill }}</td>
                        <td>{{ ref.details }}</td>
                        <td>{{ ref.role }}</td>
                    </tr>
                </tbody>
            </table>

        </div>


    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <script src="js/new_ref.js"></script>
  </body>

</html>

    